<b>Name:</b> <%= @creature.name %><br>
<b>Description:</b> <%= @creature.description %>
<button><%= link_to "back", root_path%></button>
<button><%= link_to "edit", _path%></button>
<button><%= link_to "delete", destroy_path%></button>
